In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import requests
import seaborn as sns

In [2]:
urls = ["https://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Violations_Moving_2018/MapServer/{}/query?where=1%3D1&outFields=*&outSR=4326&f=json".format(x) for x in range(12)]

In [21]:
req = requests.get(urls[0])
data = req.json()['features']
raw_df = pd.DataFrame(data)
df = raw_df.attributes.apply(pd.Series)
df.shape

(1000, 30)

In [22]:
df.head()

,OBJECTID,LOCATION,XCOORD,YCOORD,TICKET_NUMBER,ISSUE_DATE,ISSUE_TIME,ISSUING_AGENCY_CODE,ISSUING_AGENCY_NAME,ISSUING_AGENCY_SHORT,...,PENALTY_2,PENALTY_3,PENALTY_4,PENALTY_5,RP_MULT_OWNER_NO,BODY_STYLE,LATITUDE,LONGITUDE,MAR_ID,GIS_LAST_MOD_DTTM
0,101669,3800 JAY ST NE,NaN,NaN,273028792,1514764800000,08:15 AM,6,METROPOLITAN POLICE DPT-DISTRICT 6,MPD-6D,...,None,1.0,None,None,None,4D,NaN,NaN,NaN,1559090842000
1,112296,700 HARVARD ST NW,397881.28,139901.28,275916130,1514764800000,03:30 PM,21,MPD RESERVE CORPS,MPD-RC,...,None,NaN,None,None,None,None,38.927,-77.024,810066.0,1559090842000
2,112466,2022 COLUMBIA RD NW,396050.65,138832.15,275946311,1514764800000,01:20 AM,3,METROPOLITAN POLICE DPT-DISTRICT 3,MPD-3D,...,None,NaN,None,None,None,4D,38.917,-77.046,226185.0,1559090842000
3,114289,200 BLOCK OF K ST NW,NaN,NaN,276024792,1514764800000,06:10 PM,1,METROPOLITAN POLICE DPT-DISTRICT 1,MPD-1D,...,None,NaN,None,None,None,4D,NaN,NaN,NaN,1559090842000
4,114682,100 H ST NW,398911.90,136927.31,276027334,1514764800000,02:41 PM,1,METROPOLITAN POLICE DPT-DISTRICT 1,MPD-1D,...,None,1.0,None,None,None,4D,38.900,-77.013,807626.0,1559090842000

In [24]:
for url in urls[1:11]:
    req = requests.get(url)
    data = req.json()['features']
    raw_df = pd.DataFrame(data)
    print(raw_df.shape)
    pd.concat([df, raw_df.attributes.apply(pd.Series)], axis=0)

(1000, 1)
(1000, 1)
(1000, 1)
(1000, 1)
(1000, 1)
(1000, 1)
(1000, 1)
(1000, 1)
(1000, 1)
(1000, 1)

In [25]:
df.shape

(1000, 30)